html {
  scroll-behavior: smooth;
}

body {
  font-family: "Century Gothic", "Lato", sans-serif;
}

a {
  text-decoration: none;
}

.et-hero-tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: #F5F5FA;
  /* background-image: url("../resourse/A-style/Atype.png"); */
  text-align: center;
  padding: 0 2em;
}

.et-slide1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: #F5F5FA;
  /* background-image: url("../resourse/cave/cave01.png"); */
  text-align: center;
  padding: 0 2em;
}
.et-slide2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: #F5F5FA;
  /* background-image: url("../resourse/halter-top/2people.png"); */
  text-align: center;
  padding: 0 2em;
}
.et-slide3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: #F5F5FA;
  /* background-image: url("../resourse/halter-title.jpg"); */
  text-align: center;
  padding: 0 2em;
}
.et-slide4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: #F5F5FA;
  text-align: center;
  /* background-image: url("../resourse/halter-top/gray.png"); */
  padding: 0 2em;
}
.et-slide5   {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120vh;
  position: relative;
  background: #F5F5FA;
  /* background-image: url("../resourse/halter-top/Hgroup-5.jpg"); */
  text-align: center;
  padding: 2em;
}
.et-slide6   {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: #F5F5FA;
  /* background-image: url("../resourse/halter-top/Hgroup-5.jpg"); */
  text-align: center;
  padding: 0 2em;
}
.et-hero-tabs h1,
.et-slide h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}
.et-hero-tabs h3,
.et-slide h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
}
.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
}

.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #4d4d4d;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}
.et-hero-tab:hover {
  color: white;
  background: rgba(102, 177, 241, 0.8);
  transition: all 0.5s ease;
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #66B1F1;
  transition: left 0.3s ease;
}

.container{
display: contents;
flex-direction:column;
justify-content:center;
width: 80%;
padding: 30px;
}

.container2{
  display: contents;
  flex-direction:column;
  justify-content:center;
  width: 80%;
  padding: 30px;
  gap: 30px;
  }

@media (min-width: 800px) {
  .et-hero-tabs h1,
.et-slide h1 {
    font-size: 3rem;
  }
  .et-hero-tabs h3,
.et-slide h3 {
    font-size: 1rem;
  }

  .et-hero-tab {
    font-size: 1rem;
  }
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: sticky;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #ccc;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(76, 76, 76, 0.8);
}

/* Caption text */
.text {
  color: #717171;
  font-size: 15px;
  padding: 8px 12px;
  position: inherit;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

input[type=text] {
  padding:5px; 
  border:2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=text]:focus {
  border-color:#333;
}

input[type=submit] {
  padding:5px 15px; 
  margin: 3em;
  cursor:pointer;
  -webkit-border-radius: 5px;
  margin-bottom: 30%;

  align-items: center;
  background: #f5f5fa;
  border: 0;
  border-radius: 8px;
  box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #1d0dca17;
  box-sizing: border-box;
  color: #2a1f62;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.5rem;
  position: relative;
  text-align: left;
  transition: .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
  width: max-content;
  word-break: normal;
  word-spacing: normal;

}

.nextbtn{
text-align: center;
  margin: 0.5em;
  align-items: center;
  background: #f5f5fa;
  border: 0;
  border-radius: 8px;
  box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #1d0dca17;
  box-sizing: border-box;
  color: #2a1f62;
  cursor: pointer;
  display: flex;
  font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.5rem;
  padding: 15px;
  position: relative;
  text-align: left;
  transition: .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
  width: max-content;
  word-break: normal;
  word-spacing: normal;
}

.nextbtn:hover {
  background: #f8f8ff;
  box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}

@media (min-width: 768px) {
  .nextbtn {
    padding: 24px;
  }
}




input[type="text"]::placeholder {
                 
  /* Firefox, Chrome, Opera */
  text-align: center;
}

span {
  margin-right: -5px;
  -webkit-animation: fade 5s infinite ease;
          animation: fade 5s infinite ease;
}

span.o {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

span.d {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

span.e {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

span.p {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

span.e2 {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}

span.n {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes fade {
  0% {
    color: white;
  }
  50% {
    color: #343434;
  }
  100% {
    color: white;
  }
}

@keyframes fade {
  0% {
    color: white;
  }
  50% {
    color: #343434;
  }
  100% {
    color: white;
  }
}


footer {
  padding: 10%;
}